@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

*{
    font-family: 'Ysabeau SC', sans-serif;
}

p#g1 {
    background-color: #8CABFF;
    border-radius: 5px;
    padding: 5px;
    word-wrap: break-word;
    max-width: 200px;
    display: block;
}
p#g2 {
    background-color: #512B81;
    border-radius: 5px;
    padding: 5px;
    word-wrap: break-word;
    max-width: 200px;
    display: block;
}

::-webkit-scrollbar{
    width: 0;
}
body{
    background-color: #191825;
    color: white;
}

textarea{
    border-width: 1px;
    border-color: white;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    background-color:#191825;
    color: white;
    font-size:larger;
    display: block;    
    margin-right: 10px;
    resize: none;
}

button{
    border: none;
    cursor: pointer;
    width: 30%;
    height: 35px;
    background-color: #865DFF;
    color: white;
    border-radius: 5px;
}

.enter{
    width: 300px;
    display: flex; 
    position: fixed;
    bottom: 2%;
    left: auto;
    right: auto;
}
.print {
    position: relative;
    bottom: 10%;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
