@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

*{
    font-family: 'Ysabeau SC', sans-serif;
}
div{
    display: block;
    align-content: center;
}
body{
    background-color: #191825;
    color: white;
}

.logo{
    width: 200px;
    height: 200px;
}
::placeholder{
    color: white;
}
.content{
    margin-top: 50px;
}
input, textarea{
    border-width: 1px;
    border-color: white;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color:#191825;
    color: white;
    margin-bottom: 20px;
    font-size:larger;
}

#login{
    border: none;
    cursor: pointer;
    width: 300px;
    height: 40px;
    background-color: 	#865DFF;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    font-size:larger;
}

#sign_up{
    border: none;
    cursor: pointer;
    width: 300px;
    height: 40px;
    background-color: 	#191825;
    color: #865DFF;
    margin-top: 30px;
    margin-top: 20px;
    border-radius: 100px;
    font-size:larger;
}
h2{
    margin-bottom: 40px;
}